body{
    background-color: #f1f6fd;
}
.panel-title{
    text-align: left;!important;
    padding: 10px 5px;
    font-size: 14px;

}
#message{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-family: 微软雅黑;
}
#tb input{
    display: inline-block;
    padding: 10px;
    background-color: #D3D3D3;
    border: none;

}
.datagrid-toolbar{
    border: none;!important;
    background-color: #ffffff;!important;
}
#tb button{
    border: none;
    padding: 8px 10px;
    vertical-align: middle;
}
#tb button:visited,#tb button:link{
background-color: #D3D3D3;
}
#tb button:active,#tb button:hover{
    background-color: #3f3f3f;
}
#dlg{
    background-color: #fafafa;
}
#addMessage{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-family: 微软雅黑;
}
.text-box{
    border-color: #4c4c4c;!important;
    background-color: #4c4c4c;
}
