 
 body{
    background-color: #f1f6fd;
}
.panel-title{
    text-align: left;!important;
    padding: 20px 5px;
    font-size: 14px;

}
#message{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-family: 微软雅黑;
}
.datagrid-toolbar{
    border: none;!important;
    background-color: #ffffff;!important;
}
#tb button{
    border: none;
    padding: 8px 10px;
    vertical-align: middle;
}
#tb button a:visited,#tb button a:link{

}
#tb button a:active,#tb button a:hover{
    color: #ffffff;
    background-color: #1c66dc;
}

.text-box{
    border-color: #4c4c4c;!important;
    background-color: #4c4c4c;
}
.window,
.window-shadow {
    position: absolute;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.window {
    overflow: hidden;
    border-style: solid;
}
.window,
.window .window-body {
    border:none;
}

.panel-title{
    text-align: left;!important;
    padding: 10px 10px;
    font-size: 14px;

}
#message{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-family: 微软雅黑;
}
#tb input{
	padding-left:8px;
    display: inline-block;
    background-color: white;
    border: 1px solid #bdc4d4;
    width: 180px;
    height: 24px;
    border-radius: 3px;
}
.datagrid-toolbar{
    border: none;!important;
    background-color: #ffffff;!important;
	padding:10px;
}
#tb button{
	outline: none;
    border: 1px solid #1c66dc;
    height: 25px;
    line-height: 2px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    vertical-align: middle;
    color: #1c66dc;
}
#tb button a{
    color: #1c66dc;
}
#tb button:visited,#tb button:link{
    background-color: #D3D3D3;
}
#tb button:active,#tb button:hover{
    color: #ffffff;
    background-color: #1c66dc;
}
#addMessage{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    font-family: 微软雅黑;
}
