body{
	margin:0;
	padding:0;
}
.panel-body{
    background-color: #f1f6fd;!important;
}
#t-top span{
    font-weight: bold;
    display:inline-block;
    font-size: 14px;
}
#dd span{
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}
.datagrid-toolbar{
    background-color: #ffffff;
}
button{
    border: none;
    padding: 5px 5px;
    vertical-align: middle;
    background-color: #4c4c4c;
}
button:visited,button:link{
    background-color: #4c4c4c;
}
button:active,button:hover{
    background-color: #2A2E33;
}
.panel-header,
.panel-body {
 border: 1px solid #e2ebf8;!important;

}
.window .window-header {
  background-color:#353c49;!important;
  padding: 0px 0px 0px 0px;
}
.panel-title {
    font-size: 14px;
    font-weight: bold;
    color: #cfd0d2;
    height: 20px;
    line-height: 16px;
}
